.home-page-header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: extra-bold;
}

body {
  background-color: rgb(12, 12, 12);
}

.home-page-header {
  display: block;
  font-size: 5rem;
  font-weight: 999;
  line-height: 1;
  text-align: left;
  text-size-adjust: 100%;
  margin-left: 10vw;
  margin-bottom: 5vh;
}

.home-page-spaceman-container {
  position: fixed;
  width: 85%;
  left: 5%;
}

.home-page-spaceman-img {
  position: fixed;
  top: 10vh;
  right: 10vw;
}

.home-page-border-line {
  height: 1.5px;
  max-width: 100%;
  background-color: grey;
}

.home-page-hireus-button {
  position: fixed;
  margin-left: 11vw;
}

