.home-page {
  position: fixed;
  animation: fadein 2s;


}

.home-page-header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: extra-bold;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(12, 12, 12);
}

.home-page-header {
  display: block;
  font-size: 5rem;
  font-weight: 999;
  line-height: 1;
  text-align: left;
  text-size-adjust: 100%;
  margin-left: 10vw;
  margin-bottom: 5vh;
  user-select: none;
}

.home-page-tophalf {
  position: absolute;
  top: 5vh;
}

.home-page-spaceman-container {
  margin-top: 5vh;
  width: 88vw;
  display: flex;
  flex-direction: row-reverse;
}


.home-page-border-line {
  height: 2px;
  width: 77vw;
  margin-top: -2px;
  background-color: grey;
  margin-left: 10vw;
}

.home-page-hireus-button {
  position: fixed;
  margin-left: 11vw;
}

